* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(151, 126, 93);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(73, 54, 54);
}
header {
	background-color: rgb(215, 189, 156);
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 3px 3px 3px 3px rgba(86, 62, 49, 0.613);
}
.game-board {
	background-color: rgba(41, 31, 31, 0.889);
	width: 50vh;
	height: 50vh;
	border-radius: 20px;
	margin: auto;
	margin-top: 3em;
	box-shadow: 3px 3px 3px 3px rgba(86, 62, 49, 0.613);
	display: grid;
	grid-template: repeat(3, 10em) / repeat(3, 10em);
	gap: 10px;
}
.box {
	background-color: rgb(215, 189, 156);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	cursor: pointer;
	border-radius: 15px;
}
